# Created by .ignore support plugin (hsz.mobi)
# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/dictionaries/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/qaplug_profiles.xml
.idea/workspace.xml
ReversePolishCalculatorTDD.iml
out/

